# Week 9 Lab Exercises

## Processing Data with Python, Part 2

Submit your completed Jupyter notebook on Canvas.

### Questions/Office Hours

If you have questions about this week's lab or lecture, our office hours are as in the readme.

---

Getting the hard part out of the way, let's import `pandas` and get our data set up.

In [2]:
import pandas as pd

chip = pd.read_csv("chipotle.tsv", sep="\t")
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [3]:
chip[chip['item_name'].str.startswith("Chips")].head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
10,5,1,Chips and Guacamole,NaN,4.45
14,7,1,Chips and Guacamole,NaN,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39

---

#### **Exercise 1**

Display a random 10 rows from this Dataframe.

In [4]:
chip.sample(10)

,order_id,quantity,item_name,choice_description,item_price
1833,742,1,Veggie Bowl,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
2284,916,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",8.75
2575,1020,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95
4052,1622,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",9.25
2999,1193,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
3725,1488,1,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
3757,1504,1,Carnitas Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",9.25
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",8.99
2642,1050,1,Canned Soft Drink,[Lemonade],1.25
1423,577,2,Chips and Guacamole,NaN,8.90

#### **Exercise 2**

Calculate the average item price "the hard way," by summing the values in the column and dividing. Just like you did in math class. (Sorry.)

In [ ]:
import csv

with open('chipotle.tsv') as f:
    chip = [row for row in csv.reader(f)]

chip[0:10]

total_price = 0

for row in chip[1:]: 
    row_price = float(row[3])
    total_price = total_price + row_price

print(total_price)

mean_price = total_price / 10

#### **Exercise 3**

Now, calculate the mean again, using a pandas function. This is the easy way to do the above.

In [5]:
chip['item_price'].mean()

7.464335785374297

#### **Exercise 4**

How many unique items have people ordered? What I mean by this is how many different things are there recorded for "item names," not how many orders there are in total.

List the items and how many there are. (Hint: The functions for doing those two things differ only by one letter.)

In [9]:
chip['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [8]:
len(chip['item_name'].unique())

50

#### **Exercise 5**

Using a query mask and [Pandas string methods](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#string-handling), create a new dataframe of just the times people ordered chips. Print the first five such times.

In [7]:
query_mask = chip['item_name'] == "Chips"
chips = chip[query_mask]
copy_chips = chips.copy()
chips.head(5)

     order_id  quantity item_name choice_description  item_price
40         19         1     Chips                NaN        2.15
59         27         1     Chips                NaN        2.15
77         34         1     Chips                NaN        2.15
80         35         1     Chips                NaN        2.15
208        92         1     Chips                NaN        2.15

#### **Exercise 6**

What's the average item price of our "chips and something" subset?

In [10]:
chip[chip['item_name'].str.startswith("Chips and")]['item_price'].sum() / len(chip[chip['item_name'].str.startswith("Chips and")])

4.009248704663213

#### **Exercise 7**

In this last exercise, you'll be doing our job for us. Check out the [WPRDC website](https://data.wprdc.org/dataset). Spend a few minutes looking through the available datasets, and pick one that you think is cool.

Fill out the following information about it:

**name of the dataset**: Pittsburgh Police Arrest Data

link: https://data.wprdc.org/dataset/arrest-data

Who/what submitted this data to the WPRDC?
Steve Saylor

What information do I need to interpret this data? Is there a data dictionary? Is there any important information about the dataset missing?
Yes, there's a data dictionary document attached below. There's only a race of arrest data but lack of arrest reason. May be it's because they want to proctect the privacy of the police offcie documents.

Why is this data of use to people in Pittsburgh? Could it be useful to anyone else: activists, politicians, researchers, companies? 
Could it be useful to Cause it is the data about the arrested people in Pittsburgh. It may be useful to the researchers. They can study the data and figure out where crime is most frequent.

Can you think of any questions you want to ask of this dataset?
Why there's so many arrests at the 600 block of 1st Ave?

Is this a good dataset, in your opinion?
Yes. It is very detailed which includes the arrsttime, age, gender and arrestlocation.