MEDIAN AGE AT DEATH: https://data.wprdc.org/dataset/median-age-death/resource/c2e1500a-a12a-4e91-be94-76c6a892b7e2

Chateau

Team Name: Undecided



No covid cases or deaths

low fire incidents

2 deaths over 2011-2015

In [17]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

df = pd.read_csv("totalDeaths.csv")

df[['NEIGHBORHOOD', 'TOTALdeaths*']].sort_values('TOTALdeaths*').head()

     NEIGHBORHOOD  TOTALdeaths*
0     SOUTH SHORE           0.0
1         CHATEAU           2.0
2     NORTH SHORE           5.0
3  ALLEGHENY WEST           8.0
4     SAINT CLAIR          10.0